body {
    background-color: rgb(5, 196, 107);
    font-family: Tahoma;
    position: relative;
}


.header h1{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 51px; 
    margin: 0;
}

.wrapper {
    background-color: #ffffff;
    margin: auto;
    width: 480px;
    height: 1130px;
    padding: 2px 23px;
    box-shadow: 3px 10px 12px -1px rgb(90, 90, 90);
}

label {
    display: block;
    width: 480px;
    margin: 10px 0;
}

.container {
    width: 600;
}

input{
    width: 472px;
    height: 30px;
}

.name, .email, .age, .option {
    margin: 25px 0;
}

select {
    width: 480px;
    height: 37px;
}

.recommend{
    margin: 10px 0 30px 0;
}

.known {
    margin: 0 0 30px 0;
}

input.radio, input.checkbox{
    width: 15px;
    height: 10px;
}

.list {
    margin: 11px 0;
}

textarea{
    width: 475px;
    height: 54px;
    margin: 5px 0;
}

input.submit__btn{
    background-color: rgb(5, 196, 107);
    width: 480px;
    height: 40px;
    font-size: 20px;
    border-width: thin;
}

.submit{
    margin: 40px 0;
}

footer{
    margin: 50px 0;
}