body {
    padding: 0;
    margin: 0;
    background-color: rgb(5, 196, 107);
    font-family: Verdana;
}

form {
    background-color: #ffffff;
    margin: auto;
    width: 480px;
    padding: 2px 23px;
    box-shadow: 3px 10px 12px -1px rgb(90, 90, 90);
}


.header h1{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 51px; 
    margin: 0;
}

.form-control {
    text-align: left;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    width: 480px;
    margin: 15px 0 10px 0;
}



/* Styling form-control input, select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    padding: 2px;
    display: block;

}


.form-control input,
.form-control textarea{
    width: 472px;
    height: 30px;

}

.form-control select{
    width: 100%;
    height: 40px;
}

/*Styling form-control rRadio button and Checkbox*/
.form-control input[type='radio'],
.form-control input[type='checkbox'] {
    width: auto;
    display: inline-block;
    height: auto;
}

/*Styling Button*/
button{
    background-color: rgb(5, 196, 107);
    width: 480px;
    height: 40px;
    font-size: 20px;
    border-width: thin;
    margin: 40px 0;
}


footer{
    margin: 50px 0;
}